.container {
  width: 18.1vw;
}

.header {
  color: rgba(19, 34, 64, 1);
  font-size: 1.11vw;
  line-height: 1.53vw;
  margin-bottom: 0.69vw;
}

.list {
  height: 41vw;
  padding: 0 1.46vw 1.46vw 1.46vw;
  border: 1px solid rgba(220, 222, 227, 1);
  overflow-x: hidden;
  overflow-y: auto;
}

.section {
  margin-top: 1.46vw;

  & > .title {
    font-size: 0.83vw;
    color: rgba(170, 170, 170, 1);
    line-height: 1.18vw;
    margin-bottom: 0.69vw;
    margin-block-start: 0;
  }

  & > .content {
    display: flex;
    flex-flow: row wrap;
  }
}

.material {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.8vw;
  height: 4.6vw;
  margin: 0 0.69vw 0.69vw 0;
  border: 1px solid rgba(220, 222, 227, 1);
  background-color: rgba(239, 242, 247, 1);

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.label {
  width: 5.56vw;
  height: 1.22vw;
}

.image {
  width: 6.25vw;
  height: 4.25vw;
}
